<section>
<div class="breadcrumbs"><a href="{{back}}">{{back_name}}</a> / <a href="{{url}}">{{title}} Teas</a></div>
<h1>{{title}} Teas</h1>
<div class="all-teas-cnt">
{{#each data}}
<div class="tea-cnt">
<div class="tea-name tea-name-margin">{{this.tea_name}}</div>
<div class="tea-info">
<div><span class="tea-info-type">Flavor:</span> {{this.flavor_name}}</div>
<div><span class="tea-info-type">Caffeine:</span> {{this.caffeine}}</div>
<div><span class="tea-info-type">Type:</span> {{this.type}}</div>
</div>
</div>
{{/each}}
<div>
</section>